<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facture_{{facture.facture_no}}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <style>
      @media print {
         .livraison-holder {
             height: 27.5cm; /* Slightly less than the maximum printable height */
             width: 21cm; /* Full width of A4 */
             border: 1px solid black; /* For debugging and visibility */
             page-break-after: always; /* Ensures each div starts on a new page */
             box-sizing: border-box; /* Include padding and border in the element's total width and height */
         }

         /* Reset margins and paddings for printing */
         body {
             margin: 0;
             padding: 0;
         }
         td > div{
           margin:4px;
         }

         /* Optional: If you need to adjust margins more precisely */
         @page {
             margin: 0; /* Remove any default margins */
         }
     }
    </style>
</head>
<body>
    <div class="d-flex justify-content-between bg-dark">
      <a class="btn btn-sm text-white" href="/product/listfactures">
        <i class="fa fa-arrow-left mr-1"></i> Retour </a>
        <a class="btn btn-sm text-white" onclick="$('.ice').toggleClass('d-none')">ICE </a>
        
          <div class="accordion col-8" id="accordionExample">
            
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button bg-white collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  +Articles
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse " aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body bg-white">
                    <div class="bg-white">
                      <div class="mb-3 row p-2 rounded" style="background:rgb(34, 25, 71);">
                        <div class="col-2 ">
                            <input class="form-control bc " name="bc" placeholder="N° Bon commande" autocomplete="on">
                        </div>
                        <div class="col-2 ">
                            <input class="form-control bl " name="bl" placeholder="N° Bon Livraison" autocomplete="on">
                        </div>
                        <div class="itemsselectholder col-3">
                            <input class="form-control article" name="article" placeholder="Article" autocomplete="on">
                        </div>
                        <div class="col-1">
                                    
                            <input type="number" class="addqtyinp form-control" placeholder="Qty">
                            <div class="addstock text-white"></div>
                        </div>
                        <div class="col-1">
                            
                            <input type="number" class="addpriceinp form-control" placeholder="Prix">
                            <div class="addprice text-white"></div>
                        </div>
                        <div class="col-2 ">
                            <input class="form-control mtrc " name="mtrc" placeholder="N° imtrc" autocomplete="on">
                        </div>
                        <div class="col-1">
            
                            <button class="btn btn-primary w-100" onclick="addrow()">+</button>
                        </div>
                        <input type="text" class="addname" hidden>
                    </div>
                    </div>
                </div>
              </div>
            </div>
            
          </div>
      <a class="btn btn-sm text-white" href="#" data-abc="true" onclick="PrintInvoice('invoice')">
        <i class="fa fa-print mr-1"></i> Print </a>
        
        
      </div>
    <div class="container-fluid mt-100 mb-100">
        <div id="ui-view">
          <div class=" d-flex flex-column" id="invoice">
              <div class="d-flex justify-content-between px-3">
                <div class="border-end col-6">
                  <h1 class="underline">
                    Nour pieces auto
                  </h1>
                  <ul>
                    <li>
                      <strong>PIECES DE RECHANGE</strong>
                    </li>
                    <li>
                      <strong>
                        HUILES ET LUBRIFIANTS
                      </strong>
                    </li>
                    <li>
                      <strong>ACCESSOIRES AUTO</strong>
                    </li>
                  </ul>
                  
                  
                  
                </div>

                <div>
                  <img src="/static/img/logo.jpeg" alt="" width="300" height="200"><br>
                  <!-- <h2>
                    Facture
                  </h2> -->
                  
                </div>
                
              </div>
              <div class="d-flex justify-content-between p-2">
                
                <div class="col-6 ms-5">
                  <strong>
                    Facture N°: {{facture.facture_no}}
                  </strong> <br>
                  <strong>
                    Date: {{facture.date | date:'d/m/Y'}}
                  </strong>
                </div>
                <div class="col-6 ms-5">
                  <div>
                     
                    <strong>STE: {{ facture.client.customer_name.upper }}.</strong>
                  </div>
                  <div>
                    <strong>ICE: {{ facture.client.ice }}</strong>
                  </div>
                  {% if facture.client.address %}
                  <div>
                    <strong>Adresse: {{ facture.client.address }}</strong>
                  </div>
                  {% endif %}
                </div>
              </div>
              <div class="mt-3">
                <table class="table table-bordered text-center">
                  <thead style="background: black; color: white;">
                    <tr>
                      <th class="center " style="width: 7%;">Qté</th>
                      <th class="center">Designation</th>
                      <th class="center" style="width: 10%;">Prix unit.</th>
                      <th class="center" style="width: 10%;">Mantant</th>
                    </tr>
                  </thead>
                  <tbody >
                      {% for i in items %}
                    <tr>
                      <td >
                        <strong style="font-size: 19px;">
                          {{ i.qty|floatformat:-2}}
                        </strong>
                      </td>
                      <td class="">
                        <strong style="font-size: 19px;">
                          {{i.article.upper}}
                        </strong>
                      </td>

                      <td class="center">
                        <strong style="font-size: 19px;">
                          {{i.price|floatformat:2}}
                        </strong>
                      </td>
                      <td >
                        <strong style="font-size: 19px;">
                          {{ i.total|floatformat:2 }}
                        </strong>
                      </td>
                    </tr>
                    {% endfor %}
                    
                    
                  
                  <!-- <tr>
                      <td colspan="2"></td>
                      <td>TVA</td>
                      <td>{{tva}} Dh</td>
                  </tr>
                  <tr>
                      <td colspan="2"></td>
                      <td>Total TTC</td>
                      <td>{{totalttc}} Dh</td>
                  </tr> -->
                  </tbody>
                  
                </table>

              </div>
              
              <div class="foooterfacture w-100 px-5">
                <div class="mt-3 row">
                  <div class="col-8">
                    arrêté la presenté facture à la somme de: <br>
                      <strong class="frenchword text-uppercase"></strong>
                  </div>
                  <div class="d-flex flex-column col-4" >
                    <div class="p-2 d-flex justify-content-between">
                      <p>Total</p>
                      <p>
                        {{facture.total|floatformat:2}}
                      </p>
                    </div>
                    <div class="p-2 d-flex justify-content-between" style="background:rgb(0, 0, 0); color: white; font-size: 16px;">
                      <strong>Total Net à payé</strong>
                      <strong>
                        {{facture.total|floatformat:2}}
                      </strong>
                    </div>
                  </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between border" style="background: rgb(196, 196, 196);">
                  <div >
                    Adresse: N° 90 BLOC 4 ROUTE DE BIOUGRA AIT MELLOUL <br>
                    TEL: 05 28 24 40 70 / 05 28 30 82 84 <br>
                    EMAIL: NOURPIECESSAUTO@GMAIL.COM <br>
                    PATENTE: 49804975 <br>
                    <span class="ice">
                      ICE: 000506046000081
                    </span>
                  </div> 

                  <div class="">
                    <div class="">
                      <img src="/static/img/p1.jpeg" width="82">
                      <img src="/static/img/p2.jpeg" width="82">
                      <img src="/static/img/p3.jpeg" width="82">
                    </div>
                    <div>
                      <img src="/static/img/p4.jpeg" width="164">
                      <img src="/static/img/p5.jpeg" width="82">
                    </div>
                  </div>
                </div>
              </div> 
          </div>
            
        </div>
    </div>
</body>
<script src="{% static 'js/jquery.min.1.7.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<script src="/static/js/jquerySpellingNumber.js"></script>
<script>
  function addrow(){
            
            parentdiv=$(this).parent().parent()
            
            
             // first time adding to localstorg
            qtyinpadd=$('.addqtyinp').val()
            priceinpadd=$('.addpriceinp').val()
            article=$('.article').val()
            bc=$('.bc').val()
            bl=$('.bl').val()
            mtrc=$('.mtrc').val()
            total=(qtyinpadd*priceinpadd).toFixed(2)
            if (article=='' || priceinpadd=='' || qtyinpadd==''){
                alertify.error('Champs vide')
                return
            }
            $.get('/product/addfactureitem', {'factureid':'{{facture.id}}', 'article':article, 'qty':qtyinpadd, 'price':priceinpadd, 'total':total, 'bl':bl, 'bc':bc, 'mtrc':mtrc}, (data)=>{
              location.reload()
            })
          
            
            
        //   if (pdcts.includes(id)){
        //     console.log('in locals')
        //     dx=pdcts.indexOf(id)
            
        //     // get index of id
            
            
        //     bonitems[dx].qty=parseInt(bonitems[dx].qty)+1
        //     pricesfromlocalstorage=bonitems[dx].prices
        //     pricesfromlocalstorage.push((parseInt(qtyinpadd)*parseFloat(priceinpadd)).toFixed(2))
        //     bonitems[dx].prices=pricesfromlocalstorage
        //     // insert it in index to remain the same order, order is important here
        //     localStorage.setItem('bonitems',JSON.stringify(bonitems))
           
        //     let qtyinput=$(`#itemrow${id}`).find('.qty')
        //     let total=$(`#itemrow${id}`).find('.total')
        //     let price=$(`#itemrow${id}`).find('.price')
        //     // to calculate ponire we need to store the qtys*prices
        //     prices=JSON.parse(price.attr('prices'))
        //     prices.push((parseInt(qtyinpadd)*parseFloat(priceinpadd)).toFixed(2))
        //     sum=0
        //     for (i of prices){
        //         sum+=i
        //     }
        //     newqty=parseInt(qtyinput.val())+parseInt(qtyinpadd)
        //     pondir=sum/newqty
        //     qtyinput.val(newqty)
        //     price.val(pondir)
        //     total.text(sum)
        //     $(`#itemrow${id}`).css('background', 'greenyellow')
        //     setTimeout(() => {
        //         $(`#itemrow${id}`).css('background', 'none')
        //     }, 2500);
        //     jQuery().invoice().init

        //     return
        //   }
        
        
        // emptying the fields
        

    }

  function PrintInvoice(divName){
         var printContents = document.getElementById(divName).innerHTML;
         var originalContents = document.body.innerHTML;
         document.body.innerHTML = printContents;
         $('body').css('font-size', '12px')
         //$('.head').addClass('')
        //  $('table').css('font-size', '9px');
         //$("table > thead > tr > th").css('padding', '0px');
         //$("table > tbody > tr > td").css('padding', '0px');
         $('body').addClass('d-flex flex-column vh-100 p-3')
         $('.foooterfacture').addClass('mt-auto');
         window.print();
         document.body.innerHTML = originalContents;
    }
    $('.frenchword').text($.spellingNumber({{facture.total|floatformat:2}}, {
    lang:'fr',
    wholesUnit:"Dirhams",
    fractionUnit:"cents",
    digitsLengthW2F: 2,
    decimalSeperator:"et"

  }))
</script>
</html>