{% extends 'base.html' %}
{% block menu_ledger %}active{% endblock %}
{% block submenu_customer_ledger %}active{% endblock %}

{% block content %}
<a href="{% url 'ledger:customer_ledger_list'%}"><button type="button" id="back-customer" class="btn btn-primary fa fa-arrow-left id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing"></button></a>
<!-- <a href="{% url 'ledger:add_ledger' customer_id=customer.id %}"><button type="button" id="ledger-customer" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Add New Ledger</button></a>
<a href="{% url 'ledger:add_payment' customer_id=customer.id %}"><button type="button" id="payment-customer" class="btn btn-primary" id="load" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">Add payment</button></a> -->
<div class="container-fluid">
    <div class="row">
        <div class="bg-white shadow rounded p-2">
            <div class="panel-body table-responsive row">
                
                <h2 class="text-center">{{ customer.customer_name|title }} </h2>
                <hr>
                <table class="table table-striped table-advance table-bordered table-hover ledger-table table-responsive">
                    <thead>
                    <tr>
                        <th class="text-center">Date</th>
                        <th class="text-center">Bon</th>
                        <th class="text-center">Total</th>
                    </tr>
                    </thead>
                    <tbody class="item-table-body text-center">
                    {% for i in bons %}
                    <tr>
                        <td>
                            {{ i.date |date:'d/m/Y' }}
                        </td>
                        <td> 
                            {{ i.receipt_no }}
                        </td>
                        <td>
                            {{ i.grand_total|floatformat:2}}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table> 
            </div>
        </div>
    </div>
</div>
<script>
$('#back-customer').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});

$('#do-pay').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 5000);
});
    </script>
{% endblock %}

{% block scripts %}
<script>// serch in tables instead of sending ajax request
        $(".name_search").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                // $(".product_search_result tr").filter(function() {
                //   $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                // });
                // search only in the first td ot each tr 
                $(".products tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
</script>

{% endblock %}